$background-color: #1a1a1d;
$primary-color: #9c2018;
$secondary-color: #00CCF9;
$secondary-color-dark: darken($secondary-color, 50%);

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
    box-sizing: border-box;
    color: whitesmoke;
    font-size: 16px;
}

.page_body {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

a {
    &:link {
        color: $secondary-color;
    }
    &:visited {
        color: $secondary-color-dark;
    }
}

section {
    padding: 8rem 0 8rem 0;
}
  
.fill:before {
    content: "";
    position: absolute;
    background: $background-color;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX( -100% );
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 2rem;    
    transition: transform 0.2s ease-in-out;
}
  
.fill:hover:before {
    transform: translateX( 0 );
}

.button {
    position: relative;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
}

.container {
    padding: 0 4rem 0 4rem;
    margin: 0 auto;
    max-width: 1920px;
}

/****************************

MOBILE MENU ANIMATION CSS

****************************/

.mobile-menu__open {
    overflow: hidden;

    .page_body {
        opacity: 0.5!important;
    }

    .mobile-nav {
        width: 65%;

        .mobile-links {
            opacity: 1;
        }
    }
}

.nav__open,
.nav__close {
    padding: 1rem;
}

.mobile-nav {
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
    z-index: 999;
    overflow: hidden;
    background-color: $background-color;
    transition: width 0.2s ease-in-out;

    .nav__close {
        position: absolute;
        top: 0;
        right: 0;
        color: white;
    }

    .mobile-links {
        padding: 0;
        margin: 0;
        position: relative;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
        top: 0;
        left: 0;
        z-index: 999;
        font-size: 2rem;
        list-style: none;

        li {
            margin: 4rem 0 4rem 0;
            padding: 2rem;
            color: white;
            font-weight: 700;
            opacity: 1!important;
        }
    }

    @media only screen and (min-width: 1024px) {
        display: none;
    }
}

.menuicon {
    display:block;
    cursor:pointer;
    color: whitesmoke;
    
    &__bar {
      fill:none;
      stroke: currentColor;
      stroke-width:3;
      stroke-linecap:round;
    }
    &__bar {
      transform: rotate(0deg);
      transform-origin:50% 50%;
      transition: transform .25s ease-in-out;
    }
}

// ---------------------------
// Active State
// ---------------------------

.nav:target,
.nav__close {
  
  //animate the menu icon
  .menuicon {
        color:white;
        transform:rotate(180deg);
        &__circle {
            stroke-dashoffset:0;
        }
        &__bar:nth-child(1),
        &__bar:nth-child(4) {
            opacity:0;
        }
        &__bar:nth-child(2) {
            transform: rotate(45deg);
        }
        &__bar:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}

/****************************

END MOBILE MENU ANIMATION CSS

****************************/

#desktop-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.banner-gradient {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(26, 26, 26, 30%);
}

#main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 2rem 0;

    #nav-links {
        text-align: center;
        display: none;
        margin: 0;
        align-items: center;
        list-style: none;
        padding: 0;
        font-size: 1rem;
        font-weight: 300;
        
        a {
            color: whitesmoke;
            text-decoration: none;
            padding: 1rem;
            margin-right: 1rem;
        }

        #contact-cta {
            background-color: $primary-color;
            border-radius: 2rem;
            margin: 0;
            padding: .75rem 1.25rem .75rem 1.25rem;
        }

        @media only screen and (min-width: 1024px) {
            display: flex;
        }
    }

    #nav-logo {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 900;
        margin: 0;
    }

    @media only screen and (min-width: 1024px) {
        .nav__open {
            display: none;
        }
    }
}

.main-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-image: url('../images/skills-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 0;

    #banner-headline {
        position: relative;
        opacity: 0;
        z-index: 1;
        font-size: 3rem;
        color: $primary-color;
        font-weight: 900;
        text-shadow: .5px .5px 2px #1a1a1d;
    }

    @media only screen and (min-width: 1024px) {
        background-attachment: fixed;
    }
}

#about-me {
    position: relative;
    &:before {
        position: absolute;
        top: -120px;
        content: '';
        width: 100%;
        height: 150px;
        background-image: url('../images/banner-shape.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @media only screen and (min-width: 1024px) {
            background-size: contain;
            top: -100px;
            background-size: 100% 101%;
        }
        
        @media only screen and (min-width: 1260px) {
            top: -120px;
        }
    }
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-size: 4rem;
        color: $primary-color;
        font-weight: 900;

        @media only screen and (min-width: 1024px) {
            font-size: 3rem;
        }
    }

    & > div {
        width: 100%;
        line-height: 30px;
        margin-bottom: 4rem;

        @media only screen and (min-width: 1024px) {
            width: 50%;
            margin-right: 4rem;
        }
    }

    .about-content {
        display: flex;
        align-items: center;

        p {
            font-size: 2rem;
            line-height: 50px;
            font-weight: 300;

            @media only screen and (min-width: 1024px) {
                font-size: initial;
                line-height: 30px;
            }
        }

        h2 {
            align-self: flex-start;
        }
    }

    .profile-img {
        margin: 0;
        display: block;
        background-image: url('../images/profile-img.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0 auto;
        height: 350px;
        width: 350px;
        border-radius: 50%;

        @media only screen and (min-width: 1600px) {
            margin: 0;
        }
    }

    @media only screen and (min-width: 1024px) {
        flex-direction: row;
    }
}

#skills {
    background-image: url('../images/main-banner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    color: $background-color;
    font-weight: 300;
    font-size: 18px;

    .skills-container {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .skill-card {
            content: '';
            background-color: whitesmoke;
            width: 50%;
            height: 550px;
            margin: 2rem auto;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 2px 35px 0 #1a1a1d;
            font-size: 1.5rem;

            .design-tools {
                display: flex;
                justify-content: center;
                align-items: center;
                content: '';
                height: 25%;
                width: auto;
                margin: 0 auto;
            }

            h3 {
                font-size: 2.25rem;
                text-align: center;
                margin: 0;
            }

            hr {
                margin-bottom: 3rem;

                @media only screen and (min-width: 1024px) {
                    margin-bottom: 2rem;
                }
            }

            & > * {
                margin: 1rem 0 1rem 0;
            }

            & > img:first-child {
                height: auto;
                width: 50%;
                margin: 0 auto;

                @media only screen and (min-width: 1024px) {
                    height: 20%;
                    width: auto;
                }
            }

            img {
                display: block;
                width: 100%;
            }

            .skills-icon {
                width: 45%;

                @media only screen and (min-width: 1024px) {
                    width: 65%;
                }
            }

            #css {
                display: flex;
                align-items: center;

                img {
                    width: 10%;
                    margin-right: 1rem;

                    @media only screen and (min-width: 1024px) {
                        width: 20%;
                    }
                }
            }

            #bootstrap {
                display: flex;
                align-items: center;

                img {
                    width: 10%;
                    margin-right: 1rem;

                    @media only screen and (min-width: 1024px) {
                        width: 20%;
                    }
                }
            }

            #git {
                display: flex;
                align-items: center;

                img {
                    width: 10%;
                    margin-right: 1rem;

                    @media only screen and (min-width: 1024px) {
                        width: 20%;
                    }
                }
            }

            #figma {
                display: flex;
                align-items: center;

                img {
                    width: 10%;
                    margin-right: 1rem;

                    @media only screen and (min-width: 1024px) {
                        width: 20%;
                    }
                }
            }

            #illustrator {
                display: flex;
                align-items: center;

                img {
                    width: 10%;
                    margin-right: 1rem;

                    @media only screen and (min-width: 1024px) {
                        width: 20%;
                    }
                }
            }

            #sketch {
                display: flex;
                align-items: center;

                img {
                    width: 10%;
                    margin-right: 1rem;

                    @media only screen and (min-width: 1024px) {
                        width: 20%;
                    }
                }
            }

            #photoshop {
                display: flex;
                align-items: center;

                img {
                    width: 10%;
                    margin-right: 1rem;

                    @media only screen and (min-width: 1024px) {
                        width: 20%;
                    }
                }
            }

            #react {
                display: flex;
                align-items: center;

                img {
                    width: 20%;

                    @media only screen and (min-width: 1024px) {
                        width: 20%;
                    }
                }
            }

            #graph-ql {
                display: flex;
                align-items: center;
                margin: 0;

                img {
                    width: 15%;

                    @media only screen and (min-width: 1024px) {
                        width: 25%;
                    }
                }
            }

            @media only screen and (min-width: 1024px) {
                width: 10%;
                height: 450px;
                margin: 0 2rem 0 2rem;
                font-size: 1rem;
            }
        }

        @media only screen and (min-width: 1024px) {
            flex-direction: row;
        }
    }
}

.carousel-wrapper {
    overflow: hidden;

    .carousel {
        position: relative;
        transform-style: preserve-3d;

        .carousel__photo {
            opacity: 0;
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            top: 0;
            height: 1000px;
            width: 65%;
            border-radius: 8px;
            z-index: 100;
            transition: transform .5s, opacity .5s, z-index .5s;

            @media only screen and (min-width: 1024px) {
                height: 510px;
                width: 50%;
            }
        }

        #opalescence {
            background-image: url('../images/carousel-placeholder.jpg');
        }

        #ultradent {
            background-image: url('../images/main-banner.jpg');
        }

        #whatsgoingon {
            background-image: url('../images/skills-banner.jpg');
        }

        #cyberpunk {
            background-image: url('../images/carousel-placeholder.jpg');
        }

        .carousel__photo.initial,
        .carousel__photo.active {
            opacity: 1;
            position: relative;
            z-index: 900;
            transform: translateX(30%);

            @media only screen and (min-width: 1024px) {
                transform: translateX(50%);
            }
        }

        .carousel__photo.prev,
        .carousel__photo.next {
            opacity: 1;
            z-index: 800;
        }

        .carousel__photo.prev {
            transform: translateX(-75%);

            @media only screen and (min-width: 1024px) {
                transform: translateX(-55%);
            }
        }

        .carousel__photo.next {
            transform: translateX(135%);

            @media only screen and (min-width: 1024px) {
                transform: translateX(155%);
            }
        }

        .carousel__button--prev,
        .carousel__button--next {
            display: none;
            position: absolute;
            top: 50%;
            width: 3rem;
            height: 3rem;
            padding: 8px;
            transform: translateY(-50%);
            background-position: center center;
            background-size: 75%;
            background-repeat: no-repeat;
            cursor: pointer;
            z-index: 1001;

            @media only screen and (min-width: 1024px) {
                display: block;
            }
        }

        .carousel__button--prev {
            background-image: url('../images/left-arrow.svg');
            left: 25px;
        }

        .carousel__button--next {
            background-image: url('../images/right-arrow.svg');
            right: 25px;
        }

        .carousel__gradient--left,
        .carousel__gradient--right {
            display: block;
            position: absolute;
            top: 0;
            content: '';
            height: 100%;
            width: 20%;
            z-index: 1000;

            @media only screen and (min-width: 1024px) {
                width: 23%;
            }
        }

        .carousel__gradient--right {
            background: linear-gradient(to right, rgba(26, 26, 29, 0), rgba(26, 26, 29, 1));
            right: 0;
        }

        .carousel__gradient--left {
            background: linear-gradient(to left, rgba(26, 26, 29, 0), rgba(26, 26, 29, 1));
            left: 0;
        }
    }
}