<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta property="og:title" content="Front End Web Developer & Web Designer">
        <meta property="og:description" content="Front End Web Developer/Designer looking for work!">
        <meta property="og:image" content="../images/main-banner.jpg">
        <meta property="og:url" content="http://frankdelaguila-dev.surge.sh">

        <meta property="twitter:title" content="Front End Web Developer & Web Designer">
        <meta property="twitter:description" content="Front End Web Developer/Designer looking for work!">
        <meta property="twitter:image" content="../images/main-banner.jpg">
        <meta property="twitter:card" content="../images/main-banner.jpg">
        <title>Frank Delaguila</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="mobile-nav">
            <a href="#close_nav" class="nav__close">
                <svg class="closeicon" xmlns="http://www.w3.org/2000/svg" width="75" height="75" viewBox="0 0 50 50">
                    <title>Close Menu</title>
                    <g>
                        <line class="menuicon__bar" x1="13" y1="16.5" x2="37" y2="16.5"/>
                        <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
                        <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
                        <line class="menuicon__bar" x1="13" y1="32.5" x2="37" y2="32.5"/>
                    </g>
                    </svg>
            </a>
            <ul class="mobile-links">
                <a class="jump" href="#home"><li>Home</li></a>
                <a class="jump" href="#about-me"><li>About Me</li></a>
                <a class="jump" href="#portfolio"><li>Portfolio</li></a>
                <a class="jump" href="#contact-me"><li>Contact Me</li></a>
            </ul>
        </div>
        <div class="page_body">
            <div class="main-banner">
                <nav id="desktop-menu">
                    <div class="container">
                        <div id="main-nav">
                            <a href="#home" id="nav-logo"><p>Frank Delaguila</p></a>
                            <a href="#nav" class="nav__open" role="button" aria-expanded="false" aria-controls="menu">
                                <svg class="menuicon" xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 50 50">
                                <title>Open Menu</title>
                                <g>
                                    <line class="menuicon__bar" x1="13" y1="16.5" x2="37" y2="16.5"/>
                                    <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
                                    <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5"/>
                                    <line class="menuicon__bar" x1="13" y1="32.5" x2="37" y2="32.5"/>
                                </g>
                                </svg>
                            </a>
                            <ul id="nav-links">
                                <a class="jump" href="#home"><li>Home</li></a>
                                <a class="jump" href="#about-me"><li>About Me</li></a>
                                <a class="jump" href="#portfolio"><li>Portfolio</li></a>
                                <a class="jump" href="#contact-me"><li>Contact Me</li></a>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="banner-gradient"></div>
                <div id="banner-headline" class="container animate__animated">
                    <h1>Front End Web Developer<br/>& Designer</h1>
                    <a href="#portfolio" id="portfolio-cta" class="button fill jump">View Portfolio</a>
                </div>
            </div>

            <section id="about-me" class="banner-shape">
                <div class="container">
                    <div class="about-section">
                        <div class="about-content">
                            <div>
                                <h2>Hi, I'm Frank</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta a nibh eget venenatis. Aenean at odio lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec a quam id dui molestie consequat. Curabitur ac sapien tellus. Donec malesuada molestie tortor a varius. Morbi lacus neque, fringilla sed vulputate eu, congue vestibulum nunc. Donec eget eleifend mi, ut posuere velit. Pellentesque sit amet lacinia sapien.</p>
                            </div>
                        </div>
                        <div class="profile-img">
                        </div>
                    </div>
                </div>
            </section>

            <section id="skills">
                <div class="banner-gradient"></div>
                <div class="container skills-container">
                    <div class="skill-card">
                        <img src="../images/node.svg" alt="NodeJS">
                        <hr/>
                        <img class="skills-icon" src="../images/express.svg" alt="Express">
                        <img class="skills-icon" src="../images/mongodb.svg" alt="MongoDB">
                        <img class="skills-icon" src="../images/mongoose.svg" alt="Mongoose">
                        <div id="graph-ql">
                            <img src="../images/graphql.svg" alt="GraphQL">
                            <span>GraphQL</span>
                        </div>
                    </div>
                    <div class="skill-card">
                        <img src="../images/html.svg" alt="HTML5">
                        <hr />
                        <div id="css">
                            <img class="skills-icon" src="../images/css.svg" alt="CSS3">
                            <span>CSS3</span>
                        </div>
                        <div id="bootstrap">
                            <img class="skills-icon" src="../images/bootstrap.svg" alt="Bootstrap">
                            <span>Bootstrap</span>
                        </div>
                        <div id="git">
                            <img class="skills-icon" src="../images/git.svg" alt="Git">
                            <span>Git</span>
                        </div>
                        <p>Razor Views</p>
                    </div>
                    <div class="skill-card">
                        <img src="../images/logo-javascript.svg" alt="Javascript">
                        <hr />
                        <div id="react">
                            <img src="../images/react.svg" alt="React">
                            <span>React</span>
                        </div>
                        <img class="skills-icon" src="../images/jquery.svg" alt="jQuery">
                        <img class="skills-icon" src="../images/webpack.svg" alt="Webpack">
                    </div>
                    <div class="skill-card">
                        <div class="design-tools">
                            <h3>Design<br/>Tools</h3>
                        </div>
                        <hr />
                        <div id="figma">
                            <img class="skills-icon" src="../images/figma.svg" alt="Figma">
                            <span>Figma</span>
                        </div>
                        <div id="illustrator">
                            <img class="skills-icon" src="../images/illustrator.svg" alt="Illustrator">
                            <span>Illustrator</span>
                        </div>
                        <div id="sketch">
                            <img class="skills-icon" src="../images/sketch.svg" alt="Sketch">
                            <span>Sketch</span>
                        </div>
                        <div id="photoshop">
                            <img class="skills-icon" src="../images/photoshop.svg" alt="Photoshop">
                            <span>Photoshop</span>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="carousel-wrapper">
                    <div class="carousel">
                        <div id="portfolio" class="carousel__photo initial">
                            <div class="portfolio-gradient-content">
                                <div class="p-g-content">
                                    <h3>[ Portfolio ]</h3>
                                    <p style="display: block;text-align: center;">Technologies Used:</p>
                                    <ul class="tech-list">
                                        <li>SCSS (CSS3)</li>
                                        <li>Javascript</li>
                                        <li>Webpack</li>
                                        <li>Express</li>
                                    </ul>
                                    <ul class="portfolio-links">
                                        <li>
                                            <a href="https://github.com/franky212/portfolio" target="_blank" class="portfolio-git">
                                                <img src="../images/git-white.svg" alt="Git">
                                                <span>Git</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.figma.com/file/zS9VW00oglTzbOwvLuWVOc/website?node-id=0%3A1" target="_blank" class="portfolio-figma">
                                                <img src="../images/figma.svg" alt="Figma">
                                                <span>Figma</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="ultradent" class="carousel__photo">
                            <div class="portfolio-gradient-content">
                                <div class="p-g-content">
                                    <h3>[ Ultradent ]</h3>
                                    <p style="display: block;text-align: center;">Technologies Used:</p>
                                    <div class="portfolio-overflow-list">
                                        <ul class="tech-list">
                                            <li>Javascript</li>
                                            <li>Webpack</li>
                                            <li>Express</li>
                                            <li>Preact(React) / Redux</li>
                                            <li>React Router</li>
                                        </ul>
                                        <ul>
                                            <li>SCSS (CSS3)</li>
                                            <li>jQuery</li>
                                            <li>Grunt</li>
                                            <li>Razor Views</li>
                                        </ul>
                                    </div>
                                    <ul class="portfolio-links">
                                        <li>
                                            <a href="https://www.ultradent.com/" target="_blank" class="portfolio-web">
                                                <img src="../images/web-white.svg" alt="Ultradent Website">
                                                <span>Website</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="opalescence" class="carousel__photo">
                            <div class="portfolio-gradient-content">
                                <div class="p-g-content">
                                    <h3>[ Opalescence ]</h3>
                                    <p style="display: block;text-align: center;">Technologies Used:</p>
                                    <div class="portfolio-overflow-list">
                                        <ul>
                                            <li>SCSS (CSS3)</li>
                                            <li>Javascript</li>
                                            <li>jQuery</li>
                                            <li>Webpack</li>
                                        </ul>
                                        <ul>
                                            <li>Express</li>
                                            <li>Razor Views</li>
                                            <li>Google Maps</li>
                                        </ul>
                                    </div>
                                    <ul class="portfolio-links">
                                        <li>
                                            <a href="https://www.opalescence.com/" target="_blank" class="portfolio-web">
                                                <img src="../images/web-white.svg" alt="Opalescence Website">
                                                <span>Website</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="whats-going-on" class="carousel__photo">
                            <div class="portfolio-gradient-content">
                                <div class="p-g-content">
                                    <h3>[ What's Going On ]</h3>
                                    <p style="display: block;text-align: center;">Technologies Used:</p>
                                    <ul class="tech-list">
                                        <li>CSS</li>
                                        <li>Javascript</li>
                                        <li>React / Redux</li>
                                        <li>Express</li>
                                        <li>Google Maps, Geocoding, Ticket Master</li>
                                    </ul>
                                    <ul class="portfolio-links">
                                        <li>
                                            <a href="https://github.com/franky212/Whats-Going-On" target="_blank" class="portfolio-git">
                                                <img src="../images/git-white.svg" alt="Git">
                                                <span>Git</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://whats-going-on.surge.sh/" target="_blank" class="portfolio-web">
                                                <img src="../images/web-white.svg" alt="Opalescence Website">
                                                <span>Website</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="carousel__gradient--left"></div>
                        <div class="carousel__gradient--right"></div>
                        <div class="carousel__button--next"></div>
                        <div class="carousel__button--prev"></div>
                    </div>
                </div>
            </section>

            <footer id="contact-me">
                <div class="container">
                    <ul class="footer-list">
                        <li>
                            <a href="https://drive.google.com/file/d/1VlsASZjujsr1TigSpgS8MYy-My4JqSWj/view?usp=sharing" target="_blank" class="portfolio-web">
                                <img src="../images/download-icon-white.svg" alt="Resume">
                                <span>Resume</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/franky212/" target="_blank" class="portfolio-git">
                                <img src="../images/git-white.svg" alt="Git Icon">
                                <span>Git</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/frank-delaguila/" target="_blank" class="portfolio-web">
                                <img src="../images/linkedin-icon-white.svg" alt="LinkedIn Icon">
                                <span>LinkedIn</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>

        </div>
    </body>
</html>